{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% load static %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}


{% include "pages/includes/card.html" %}
<div>
  <img src="{% static "images/bitcoin-cash-circle.png" %}" alt="" width="35" height="35"> 
</div>
  <h4 class="card-title mb-4 mt-1">{% trans "Sign In" %}</h4>
  
    
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
          {{form | crispy}}
          {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col">
            <!-- Simple link -->
            <a href="{% url 'account_reset_password' %}">{% trans "Forget Password?" %}</a>
          </div>
        </div>
      
        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-6" type="submit">{% trans "Sign In" %}</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          
          <p>Not a member? <a href="{{ signup_url }}">{% trans "Register" %}</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>

    </article>
  </div> 
</div>
</div> 
   

      
{% endblock %}


  